<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <!-- <link rel='stylesheet' href='css/bootstrap.min.css'> -->
</head>
<body>

  <h2>Overtreding zoeken</h2>
  <br/><br/>
  <form action='/search' method='POST'>
    <span><b>Opnameplaats/Straat: </b><input type='text' name='straat'></span>
    <span><button type='submit'>Search</button></span>
  </form>

  <h2>Overtreding zoeken</h2>
  <br/><br/>
  <form action='/search-snelheid' method='POST'>
    <span><b>Minimum snelheid: </b><input type='text' name='snelheid'></span>
    <span><button type='submit'>Search</button></span>
  </form>
</body>
</html>
